@import "static/variables";
@import "static/mixins";
@import "./reset.css";


@font-face {
     font-family: 'Ruberoid';
     src: url('../../app/fonts/Ruberoid/Ruberoid-Regular.eot');
     src: local('Ruberoid'), local('Ruberoid-Regular'),
         url('../../app/fonts/Ruberoid/Ruberoid-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/Ruberoid/Ruberoid-Regular.woff2') format('woff2'),
         url('../../app/fonts/Ruberoid/Ruberoid-Regular.woff') format('woff'),
         url('../../app/fonts/Ruberoid/Ruberoid-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Proxima Nova';
     src: url('../../app/fonts/Proxima Nova/');
     src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
         url('../../app/fonts/Proxima Nova/?#iefix') format('embedded-opentype'),
         url('../../app/fonts/Proxima Nova/ProximaNova-Regular.woff2') format('woff2'),
         url('../../app/fonts/Proxima Nova/ProximaNova-Regular.woff') format('woff'),
         url('../../app/fonts/Proxima Nova/ProximaNova-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

.container{
     width: 1440px;
     margin: 0 auto;
}

.nav{
     position: absolute;
     top: 0;
     z-index: 2;
     width: 100%;
     padding: 24px 60px;
     @include flex();
     &__part{
          &:nth-child(2) {
               @include flex(flex-start, center);
               gap: 48px;
          }
     }
     &__link{
          @include text(17px, 22px, $proxima, $darkenGray);
     }
     &__btn{
          padding: 22px 54px;
          border-radius: 24px;
          background: $lightGreen;
          @include text(17px, 24px, $ruberoid, white);
          text-transform: uppercase;
          transition: 0.3s ease;
          &-outer{
               @include flex(center, center);
               background: rgba($green, 0.25);
               padding: 10px;
               border-radius: 30px;
          }
          &:hover{
               background: $hoverGreen;
          }
     }
}

header{
     background: $headerGradient;
     position: relative;
     .nav__btn-outer{
          background: rgba(white, 0.45);
     }
}

.header{
     position: relative;
     @include flex();
     padding: 200px 0 80px;
     &__part{
          width: 50%;
     }
     &__title{
          margin-bottom: 36px;
          h2{
               @include text(72px, 84px, $ruberoid, $darkenGray);
          }
          h1{
               @include text(75px, 84px, $ruberoid, $green);
               text-transform: uppercase;
          }
          &-line{
               @include flex(flex-start, center);
               gap: 42px;
               span{
                    height: 4px;
                    background: $green;
                    width: 180px;
                    
               }
          }
     }
     &__info {
          @include flex(flex-start, flex-start);
          gap: 12px;
          margin-bottom: 60px;
          &-dots{
               margin-top: 10px;
               @include flex(flex-start, center);
               gap: 16px;
          }
          &-dot{
               width: 12px;
               height: 12px;
               border: 2px solid $green;
               border-radius: 100%;
          }
          &-text{
               @include text(24px, 34px, $proxima, $darkenGreen);
          }
     }
     &__contact{
          @include flex(flex-start, flex-start);
          gap: 80px;
          margin-bottom: 72px;
          &-item{
               @include flex(flex-start, center);
               gap: 24px;
               &-text{
                    @include text(18px, 27px, $proxima, $darkenGray);
               }
          }
     }
     &__btn{
          padding: 32px 140px;
          border-radius: 24px;
          background: $lightGreen;
          @include text(18px, 24px, $ruberoid, white);
          text-transform: uppercase;
          &-outer{
               width: 434px;
               @include flex(center, center);
               background: rgba($green, 0.25);
               padding: 15px;
               border-radius: 30px;
          }
     }
     &__image{
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
     }
}