@import "static/variables";
@import "static/mixins";
@import "./reset.css";


@font-face {
     font-family: 'Ruberoid';
     src: url('../../app/fonts/Ruberoid/Ruberoid-Regular.eot');
     src: local('Ruberoid'), local('Ruberoid-Regular'),
         url('../../app/fonts/Ruberoid/Ruberoid-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/Ruberoid/Ruberoid-Regular.woff2') format('woff2'),
         url('../../app/fonts/Ruberoid/Ruberoid-Regular.woff') format('woff'),
         url('../../app/fonts/Ruberoid/Ruberoid-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Ruberoid Medium';
     src: url('../../app/fonts/Ruberoid/Ruberoid-Medium.eot');
     src: local('Ruberoid Medium'), local('Ruberoid-Medium'),
         url('../../app/fonts/Ruberoid/Ruberoid-Medium.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/Ruberoid/Ruberoid-Medium.woff2') format('woff2'),
         url('../../app/fonts/Ruberoid/Ruberoid-Medium.woff') format('woff'),
         url('../../app/fonts/Ruberoid/Ruberoid-Medium.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
 }

@font-face {
     font-family: 'Proxima Nova';
     src: url('../../app/fonts/ProximaNova/ProximaNova-Regular.eot');
     src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
         url('../../app/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
         url('../../app/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
         url('../../app/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

.container{
     width: 1440px;
     margin: 0 auto;
     &-right{
          margin-left: calc((100% - 1440px) / 2);
     }
}

section{
     margin-top: 100px;
}

body{
     overflow-x: hidden;
}

.title{
     text-transform: capitalize;
     @include text(50px, 64px, $ruberoidMedium, $darkenGray);
}

.section{
     &__title{
          width: auto;
          display: inline-block;
          &-line{
               width: 100%;
               @include flex();
               gap: 40px;
               span{
                    flex: 1;
                    height: 4px;
                    background: $green;
               }
          }
          h2{
               text-transform: capitalize;
               @include text(50px, 64px, $ruberoidMedium, $darkenGray);
               &:first-child{
                    margin-bottom: 12px;
               }
          }
     }
}

.nav{
     position: absolute;
     top: 0;
     z-index: 2;
     width: 100%;
     padding: 24px 60px;
     @include flex();
     &__part{
          &:nth-child(2) {
               @include flex(flex-start, center);
               gap: 48px;
          }
     }
     &__link{
          @include text(17px, 22px, $proxima, $darkenGray);
     }
     &__btn{
          padding: 22px 54px;
          border-radius: 24px;
          background: $lightGreen;
          @include text(17px, 24px, $ruberoid, white);
          text-transform: uppercase;
          transition: 0.3s ease;
          &-outer{
               @include flex(center, center);
               background: rgba($green, 0.25);
               padding: 10px;
               border-radius: 30px;
          }
          &:hover{
               background: $hoverGreen;
          }
     }
}

header{
     background: $headerGradient;
     position: relative;
     .nav__btn-outer{
          background: rgba(white, 0.45);
     }
}

.header{
     position: relative;
     @include flex();
     padding: 200px 0 80px;
     &__part{
          width: 50%;
     }
     &__title{
          margin-bottom: 36px;
          h2{
               @include text(72px, 84px, $ruberoidMedium, $darkenGray);
          }
          h1{
               @include text(75px, 84px, $ruberoidMedium, $green);
               text-transform: uppercase;
          }
          &-line{
               @include flex(flex-start, center);
               gap: 42px;
               span{
                    height: 4px;
                    background: $green;
                    width: 180px;
                    
               }
          }
     }
     &__info {
          @include flex(flex-start, flex-start);
          gap: 12px;
          margin-bottom: 60px;
          &-dots{
               margin-top: 10px;
               @include flex(flex-start, center);
               gap: 16px;
          }
          &-dot{
               width: 12px;
               height: 12px;
               border: 2px solid $green;
               border-radius: 100%;
          }
          &-text{
               @include text(24px, 34px, $proxima, $darkenGreen);
          }
     }
     &__contact{
          @include flex(flex-start, flex-start);
          gap: 80px;
          margin-bottom: 72px;
          &-item{
               @include flex(flex-start, center);
               gap: 24px;
               &-text{
                    @include text(18px, 27px, $proxima, $darkenGray);
               }
          }
     }
     &__btn{
          padding: 32px 140px;
          border-radius: 24px;
          background: $lightGreen;
          @include text(18px, 24px, $ruberoid, white);
          box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
          text-transform: uppercase;
          transition: 0.3s ease;
          &-outer{
               width: 434px;
               @include flex(center, center);
               background: rgba($green, 0.25);
               padding: 15px;
               border-radius: 30px;
          }
          &:hover{
               background: $hoverGreen;
          }
     }
     &__image{
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
     }
}

.services{
     &__list{
          @include flex();
     }
     &__part{
          &:first-child{
               width: 30%;
          }
          &:last-child{
               @include flex(flex-end, center);
          }
     }
     &__text{
          margin-top: 24px;
          @include text(18px, 27px, $proxima, $textGray);
     }
     &__tabs{
          &-body{
               background: $bgGreen;
               @include flex(flex-end, center);
               border-radius: 65px 0 0 65px;
               &-list{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding: 120px 40px;
               }
               &-item{
                    @include flex(flex-start, flex-start);
                    width: 360px;
                    gap: 15px;
                    &:nth-child(2),
                    &:nth-child(3) {
                         margin-bottom: 14px;
                    }
                    &-dot{
                         width: 34px;
                         height: 34px;
                         background: white;
                         border-radius: 10px;
                         @include flex(center, center);
                         flex-shrink: 0;
                    }
                    p{
                         @include text(20px, 30px, $proxima, $darkenGray);
                    }
               }
               &-images{
                    height: 680px;
                    img{
                         height: 100%;
                         filter: drop-shadow(-4px 0px 8px rgba(15, 44, 15, 0.35));
                         border-radius: 65px 0 0 65px;
                    }
               }
          }
          &-buttons{
               border-radius: 45px 0px 0px 45px;
               padding: 10px 0 10px 10px;
               background: $bgGreen;
               .active{
                    background: $lightGreen;
                    color: white !important;
                    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
               }
          }
          &-btn{
               padding: 25px 16px;
               background: white;
               color: $darkenGreen;
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 15px;
               transition: 0.3s ease;
               i{
                    font-size: 32px;
               }
               p{
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    @include text(14px, 17px, $proxima, inherit);
               }
               &:first-child{
                    border-radius: 40px 0 0 0;
               }
               &:last-child{
                    border-radius: 0 0 0 40px;
               }
               &:hover{
                    cursor: pointer;
                    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
               }
          }
     }
}

.products{
     position: relative;
     &__grid{
          margin-top: 85px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 54px 40px;
     }
     &__item{
          border-radius: 30px;
          box-shadow: 0px 2px 4px rgba(46, 35, 25, 0.3);
          background: white;
          &-img{
               position: relative;
               img{
                    border-radius: 25px 25px 0 0; 
               }
               &-price{
                    display: inline-block;
                    top: 20px;
                    left: 0;
                    position: absolute;
                    padding: 5px 15px;
                    background: $bgGreen;
                    border-radius: 0 10px 10px 0;
                    @include text(15px, 18px, $ruberoidMedium, $darkenGray);
               }
          }
          &-title{
               padding: 14px 18px;
               border-radius: 0 0 25px 25px; 
               h4{
                    @include text(18px, 24px, $ruberoid, $green);
               }
          }
     }
     &__bg-image{
          width: 100%;
          position: absolute;
          left: 0;
          top: 120px;
          z-index: -1;
     }
}

.steps{
     &__list{
          @include flex();
          gap: 100px;
     }
     &__part{
          width: 50%;
     }
     &__title{
          @include text(30px, 36px, $ruberoid, $green);
          margin-bottom: 16px;
     }
     &__checklist{
          display: flex;
          flex-direction: column;
          gap: 10px;
          &-item{
               @include flex(flex-start, flex-start);
               gap: 12px;
               p{
                    @include text(18px, 24px, $proxima, $darkenGreen);
               }
          }
     }
     &__map{
          margin-top: 100px;
          display: flex;
          align-items: center;
          gap: 12px;
          &-item{
               position: relative;
               display: flex;
               flex-direction: column;
               align-items: center;
               &-round{
                    width: 120px;
                    height: 120px;
                    @include flex(center, center);
                    background: $bgGreen;
                    border-radius: 100%;
                    img{
                         height: 60px;
                    }
               }
               &-text{
                    text-align: center;
                    width: 200px;
                    position: absolute;
                    top: 140px;
                    @include text(26px, 32px, $proxima, $darkenGray);
               }
          }
          &-arrow{
               flex: 1;
               img{
                    width: 100%;
               }
          }
     }
}

.form{
     margin-top: 150px;
     padding: 60px 0;
     background: $bgGreen;
     position: relative;
     &__block{
          @include flex(flex-start, center);
          gap: 40px;
     }
     &__title{
          @include text(36px, 45px, $ruberoidMedium, $darkenGray);
          margin-bottom: 28px;
     }
     &__input{
          width: 300px;
          padding: 20px;
          background: white;
          box-shadow: 0px 0px 12px rgba(73, 93, 76, 0.15);
          border-radius: 15px;
          @include text(15px, 18px, $proxima, $darkenGreen);
          &::placeholder{
               @include text(15px, 18px, $proxima, rgba($darkenGreen, 0.7));
          }
          &-block{
               position: relative;
               p{
                    display: none;
                    position: absolute;
                    top: 65px;
                    left: 20px;
                    @include text(13px, 16px, $proxima, $red);
               }
          }
     }
     &__submit{
          padding: 18px 50px;
          border-radius: 24px;
          background: $btnGreen;
          box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
          border-radius: 17px;
          @include text(16px, 21px, $ruberoid, white);
          text-transform: uppercase;
          transition: 0.3s ease;
          &-outer{
               margin-left: 20px;
               @include flex(center, center);
               background: rgba($green, 0.25);
               padding: 10px;
               border-radius: 25px;
          }
          &:hover{
               background: $hoverGreen;
          }
     }
     &__bg-image{
          position: absolute;
          right: 12px;
          top: 5%;
          height: 90%;
     }
}

.about{
     position: relative;
     &__bg{
          background: rgba(186, 255, 195, 0.5);
          filter: blur(100px);
          z-index: -1;
          &-general{
               position: absolute;
               width: 47%;
               height: 90%;
               left: 0;
               top: 5%;
          }
     }
     &__list{
          @include flex();
          gap: 100px;
     }
     &__part{
          width: 50%;
          &:first-child{
               padding: 36px 50px;
               background: white;
               box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
               border-radius: 50px;
          }
     }
     &__title{
          @include text(48px, 64px, $ruberoidMedium, $darkenGray);
          margin-bottom: 10px;
          &:last-child{
               margin-bottom: 20px;
          }
          &-block{
               @include flex(flex-start, center);
               gap: 28px;
          }
     }
     &__brand{
          @include text(24px, 32px, $ruberoid, $green);
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          span{
               width: 100%;
               height: 1px;
               background: $green;
          }
     }
     &__text{
          @include text(18px, 28px, $proxima, $textGray);
          &:not(:last-child) {
               margin-bottom: 24px;
          }
     }
     &__grid{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 100px;
     }
     &__item{
          position: relative;
          &-bg{
               left: 25%;
               width: 50%;
               height: 90%;
               border-radius: 100%;
               position: absolute;
               background: rgba(186, 255, 195, 0.5);
               filter: blur(50px);
               z-index: -1;
          }
          &-title{
               @include text(28px, 36px, $ruberoidMedium, $green);
               margin-bottom: 18px;
               text-align: center;
               span{
                    font-size: 38px;
                    margin-right: 8px;
               }
          }
          &-text{
               @include text(18px, 30px, $proxima, $green);
               text-align: center;
          }
     }
}

.app{
     position: relative;
     &__list{
          @include flex();
          gap: 100px;
     }
     &__part{
          width: 50%;
          .title{
               margin-bottom: 30px;
          }
     }
     &__title{
          @include text();
     }
     &__buttons{
          @include flex(flex-start, center);
          gap: 16px;
     }
     &__button{
          height: 40px;
          width: 70px;
          border-radius: 20px;
          border: 1px solid $green;
          @include flex(center, center);
     }
     &__checklist{
          margin-top: 36px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          &-item{
               @include flex(flex-start, flex-start);
               gap: 12px;

               &-dot{
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    border: 1px solid $green;
                    @include flex(center, center);
                    flex-shrink: 0;

                    &-inner{
                         width: 8px;
                         height: 8px;
                         border-radius: 100%;
                         background: $green;
                    }
               }
               &-text{
                    @include text(17px, 20px, $proxima, $green);
               }
          }
     }
     &__text{
          margin-top: 25px;
          @include text(17px, 27px, $proxima, $textGray);
     }
     &__btn{
          padding: 32px 120px;
          border-radius: 30px;
          background: $lightGreen;
          box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
          @include text(17px, 24px, $ruberoid, white);
          text-transform: uppercase;
          transition: 0.3s ease;
          &-outer{
               margin-top: 50px;
               width: 480px;
               @include flex(center, center);
               background: rgba($green, 0.25);
               padding: 15px;
               border-radius: 40px;
          }
          &:hover{
               background: $hoverGreen;
          }
     }
     &__images{
          &-list{
               display: grid; 
               grid-template-columns: 1fr 1fr; 
               grid-template-rows: repeat(11, 1fr); 
               gap: 35px;
               grid-template-areas: 
               "a ."
               "a b"
               "a b"
               "a b"
               "a b"
               "c b"
               "c d"
               "c d"
               "c d"
               "c d"
               "c ."; 
          }
          &-item{
               width: 100%;
               height: 100%;
               &-img{
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 0px 10px rgba(26, 26, 26, 0.5);
                    border-radius: 40px;
                    object-fit: cover;
               }
          }
     }
     &__bg-image{
          background: $blurBgGreen;
          filter: blur(175px);
          width: 800px;
          aspect-ratio: 1/1;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          z-index: -1;
     }
}

 .a { grid-area: a; }
 .c { grid-area: c; }
 .b { grid-area: b; }
 .d { grid-area: d; }