$headerGradient: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(225,228,227,1) 100%);
$gray: #7B897D;
$darkenGray: #495E4C;
$textGray: #848484;
$green: #78C081;
$darkenGreen: #7CA381;
$lightGreen: #5CCD6A;
$hoverGreen: #54E165;
$bgGreen: #D9FADD;

$ruberoid: 'Ruberoid';
$ruberoidMedium: 'Ruberoid Medium';
$proxima: 'Proxima Nova';
